{% extends "partials/base.html" %} {% load static %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
<div class="page-header">
  <h1>Dashboard</h1>
  <p>Overview of account activity</p>
</div>
<div style="height: 12px"></div>
<div class="cards-grid cols-4">
  <div class="card pad">
    <div class="stat-title">Wallet Balance</div>
    {% comment %} <div class="stat-value">&#8358;1,240.50</div> {% endcomment %}
    <div class="stat-value">Coming Soon</div>
  </div>
  <div class="card pad">
    <div class="stat-title">Total Orders</div>
    <div class="stat-value">
      {% if orders %}
        {{ orders.count }}
      {% else %}
        0
      {% endif %}
    </div>
  </div>
  <div class="card pad">
    <div class="stat-title">Completed</div>
    <div class="stat-value">
      {% if orders %}
        {{ completed_orders_count }}
      {% else %}
        0
      {% endif %}
    </div>
  </div>
  {% comment %} <div class="card pad">
    <div class="stat-title">TTS Jobs</div>
    <div class="stat-value">32</div>
  </div> {% endcomment %}
</div>
<div style="height: 12px"></div>
<div class="quick-actions">
  <a
    class="btn btn-primary"
    style="text-decoration: none"
    href="{% url "store:create_order" %}"
    >Place Order</a
  >
  <a
    class="btn btn-outline"
    style="text-decoration: none"
    href="./wallet-deposit.html"
    >Add Funds</a
  >
  {% comment %} <a
    class="btn btn-outline"
    style="text-decoration: none"
    href="./tts.html"
    >Generate TTS</a
  > {% endcomment %}
</div>
<div style="height: 12px"></div>
{% comment %} display recent products {% endcomment %}
<div class="table-wrap">
  <table class="table">
    <thead>
      <tr>
        <th>Platform</th>
        <th>Quantity</th>
        <th>Price</th>
        <th class="text-right">Created</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.name|title }}</td>
          <td>
            {{ product.quantity }}Pcs
          </td>
          <td class="text-right">₦{{ product.price|floatformat:2 }} Each</td>
          <td class="text-right">{{ product.created_at|date:"M d, Y" }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" class="text-center">No products found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% comment %} <a href="{% url "stor" %}"></a> {% endcomment %}
</div>
{% endblock content %}
